[submodule "zmk-nodefree-config"]
	path = zmk-nodefree-config
	url = https://github.com/urob/zmk-nodefree-config.git
[submodule "cirque-input-module"]
  path = cirque-input-module
  url = https://github.com/petejohanson/cirque-input-module.git
