[submodule "config/zmk-helpers-repo"]
	path = config/zmk-helpers-repo
	url = https://github.com/urob/zmk-helpers
	branch = v2
[submodule "zmk-input-behavior-listener"]
	path = zmk-input-behavior-listener
	url = https://github.com/badjeff/zmk-input-behavior-listener.git
[submodule "zmk-split-peripheral-input-relay"]
	path = zmk-split-peripheral-input-relay
	url = https://github.com/badjeff/zmk-split-peripheral-input-relay.git
