[submodule "config/zmk-helpers-repo"]
	path = config/zmk-helpers-repo
	url = https://github.com/urob/zmk-helpers
	branch = v2
[submodule "zmk-input-behavior-listener"]
	path = zmk-input-behavior-listener
	url = https://github.com/badjeff/zmk-input-behavior-listener.git
[submodule "cirque-input-module"]
	path = cirque-input-module
	url = https://github.com/badjeff/cirque-input-module.git
