/*
 * Copyright (c) 2020 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include "corne.dtsi"

&default_transform {
    col-offset = <6>;
};

&five_column_transform {
    col-offset = <6>;
};

&kscan0 {
    col-gpios
        = <&pro_micro 14 GPIO_ACTIVE_HIGH>
        , <&pro_micro 15 GPIO_ACTIVE_HIGH>
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>
        , <&pro_micro 19 GPIO_ACTIVE_HIGH>
        , <&pro_micro 20 GPIO_ACTIVE_HIGH>
        , <&pro_micro 21 GPIO_ACTIVE_HIGH>
        ;
};

// From Pete: https://discord.com/channels/719497620560543766/845285481888743434/1206181117296644106
&pro_micro_i2c {
    status = "okay";
    glidepoint: glidepoint@2a {
        compatible = "cirque,pinnacle";
        reg = <0x2a>;
        status = "okay";
        dr-gpios = <&gpio0 7 (GPIO_ACTIVE_HIGH)>;
        sensitivity = "2x";
        sleep;
        no-taps;
    };

    // Rotation config, from Pete
    // This will change in the future
    // https://discord.com/channels/719497620560543766/845285481888743434/1206407883777114182
    input_config {
        compatible = "zmk,input-configs";
    
        cirque_config {
            device = <&glidepoint>;
            //xy-swap;
            //y-invert;
            //x-invert;
        };
    };
};
